/* start global rules */
:root{
--padding-section:60px;
--Pink: hsl(322, 100%, 66%);
--Light-Pink: hsl(321, 100%, 78%);
--Light-Red: hsl(0, 100%, 63%);
--Very-Dark-Cyan: hsl(192, 100%, 9%);
--Very-Pale-Blue: hsl(207, 100%, 98%);
--font-body: 'Open Sans', sans-serif;
--font-header: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right:auto ;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
@media (min-width:1440px){
    .container{
        width: 1420px;
    }
}
@media (max-width:375px){
    .container{
        width: 375px;
    }
}
/* end global rules */
/* start header */
header{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container p{
    color: var(--Pink);
    border: solid 2px;
    padding: 10px 25px;
    border-radius: 50px;
}
header .container p:hover{
    color: rgb(255 82 191 /60%);
}
/* end header  */
/* start services */
.services{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.services .container{
    text-align: center ;
}
.services .container h1 {
    text-transform: capitalize;
    font-family: var(--font-header);
    font-weight: 700;
    font-size: 45px;
}
.services .container p{
    font-family: var(--font-body);
    line-height: 1.7;
}
.services .container a{
    text-decoration: none;
    display: block;
    color: white;
    background-color: var(--Pink);
    padding: 21px 100px;
    width: fit-content;
    margin: 30px auto 60px;
    font-family: var(--font-body);
    font-weight: 600;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.services .container a:hover{
    background-color: rgb(255 82 191 /60%);
}
.services .container .info{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.services .container .box {
    display: flex;
    flex-direction: column;
}
.services .container .box img{
    width: 40px;
} 
.services .container .box h2{
    font-size: 65px;
    font-family: var(--font-body);
    color: var(--Very-Dark-Cyan);
}
.services .container .box p{
    font-size: 16px;
    font-family: var(--font-body);
    color: var(--Very-Dark-Cyan);
    font-weight: normal;
}
/* end services */
/* start grow-section*/
.grow{
    position: relative;
    padding-top: 100px;
    padding-bottom: var(--padding-section);
    
}
.grow .container{
    display: flex;
    background-color: hsl(207deg 100% 98%);
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.grow .container .img-grow{
    width: 400px;
    margin-top:50px;
    margin-bottom: 50px;
}
.grow .top{
    top: -127px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.grow .bot{
    bottom: -127px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.grow .container .text h1{
    font-family: var(--font-header);
}
.grow .container .text p{

    font-family: var(--font-body);
    line-height: 1.6;
}
/* end grow */
/* start conversation-section */
.con{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.con .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.con .container img{
    width: 400px;
    margin-top:50px;
    margin-bottom: 50px;
}
.con .container .text h1{
    font-family: var(--font-header);
    text-transform: capitalize;
}
.con .container .text p{
    font-family: var(--font-body);
    line-height: 1.6;
}
/* end conversation-section */
/* start more */
.more{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}
.more .text{
    text-align: center;
    text-transform: capitalize;
    margin-top: 80px;
    margin-bottom: 80px;
}
.more .text h1{
    font-family: var(--font-header);
}
.more .text a{
    text-decoration: none;
    display: block;
    color: white;
    background-color: var(--Pink);
    padding: 21px 100px;
    width: fit-content;
    margin: 30px auto 60px;
    font-family: var(--font-body);
    font-weight: 600;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.more .text a:hover{
    background-color: var(--Light-Pink);
}
/* end more */
/* start footer */
footer{
    margin-top: 100px;
}
footer .container{
    display: flex;
    background-color: var(--Very-Dark-Cyan);
    padding: 50px;
    position: relative;
    justify-content: space-between;
}
footer .container .bg{
    position: absolute;
    top: -155px;
    left: 0px;
    width: 100%;
}
footer .container .left{
    width: 50%;
}
footer .container .left p{
    color: white;
    font-family: var(--font-body);
    margin-top: 30px;
    margin-bottom: 30px;
}
footer .container .left ul li{
    color: white;
    margin-bottom: 10px;
}
footer .container .left ul li i{
    margin-right:15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
footer .container .left .social{
    display: flex;
    font-size: 30px;
    margin-top: 35px;
}
footer .container .left .social li:hover:nth-child(3) i {
    color: deepskyblue;
}
footer .container .right{
    color: white;

}
footer .container .right h1{
    text-transform: uppercase;
    font-family: var(--font-header);
} 
footer .container .right p{
    font-family: var(--font-body);
    margin-bottom: 35px;
}
footer .container .right form input[type="email"]{
    padding: 15px;
    border-radius: 10px;
    margin-right: 15px;
}
footer .container .right form input[type="submit"]{
    padding: 15px 30px;
    background-color: var(--Pink);
    border: none;
    color: white;
    font-family: var(--font-body);
    font-weight: 700;
    border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
footer .container .right form input[type="submit"]:hover{
    background-color: var(--Light-Pink);
    
}
/* end footer */
@media (max-width:760px){
    header .container img{
        width: 135px;
    }
    .services .container h1 {
        font-size: 25px;
    }
    .services .container p {
        font-size: 10px;
    }
    .services .container img{
        width: 360px;
    }
    .services .container a{
    padding: 15px 60px;
    }
    .services .container .info {
    flex-direction: column;
    }
    .services .container .box {
        position: relative;
        margin-bottom: 100px;
    }
    .services .container .box img{
        position: absolute;
        top: -35px;
        left: 90px;
    }
    .grow .container {
        flex-direction: column-reverse;
    }
    .grow .container .img-grow {
        width: 200px;
    }
    
    footer .container {
        padding: 30px;
        flex-direction: column-reverse;
    }
    footer .container .bg {
        top: -40px;
    }
    footer .container .right {
        width: 100%;
    }
    footer .container .left {
        width: 100%;
        margin-top: 70px;
    }footer .container .right p {
        margin-bottom: 35px;
        font-size: 14px;
        line-height: 1.6;
    }
    footer .container .right form input[type="email"] {
        width: 100%;
    }
    footer .container .right form input[type="submit"] {
        margin: 10px 56%;
    }
    .more .text a {
        padding: 20px 60px;
    }
    .grow .container{
        text-align: center;

    }
    .grow .top {
        top: -42px;
    }
    .grow .bot {
        bottom: -35px;
    }
    .con .container {
        flex-direction: column;
        text-align: center;
    }
    .con .container img {
        width: 200px;
    }
}